<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='RegistrarUsuarios.css')}}">
  <title>Formulario Registro</title>
</head>
<body>

  {%with mensajes=get_flashed_messages()%}
  {% if mensajes%}
      {%for msj in mensajes%}
          <h3 style="color:white">{{msj}}</h3>
      {%endfor%}
  {%endif%}
{%endwith%}
    <form class="form-register" action="/guardar" method="POST">
        <h1>Formulario Registro</h1>
        <input class="controls" type="text" name="txtnombre" id="nombres" placeholder="Ingrese su Nombre" required>
        <input class="controls" type="text" name="txtusuario" id="Usuario" placeholder="Ingrese su Usuario" required>
        <input class="controls" type="email" name="txtcorreo" id="correo" placeholder="Ingrese su Correo" required>
        <input class="controls" type="password" name="txtcontrasena" id="contraseña" placeholder="Ingrese su Contraseña" required>
        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
        <button type="submit">Guardar</button>
        <p><a href="/">¿Ya tengo Cuenta?</a></p>
      </form>

</body>
</html>